<br/>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <strong class="text-uppercase">Đăng tin</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" method="post">
        <div class="text-center">
          <strong class="text-uppercase">Thông tin chung</strong>
        </div>
        <br/>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Danh mục</label>
          <app-cat-drop-down class="input-group-prepend col-md-4" (subCatClick)="getCatAndSubCatId($event)" dropdown></app-cat-drop-down>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Khu vực</label>
          <app-loc-drop-down class="input-group-prepend col-md-4" (provClick)="getLocationAndProvId($event)" dropdown></app-loc-drop-down>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="title-item">Tiêu đề</label>
          <div class="col-md-10">
            <input class="form-control" id="title-item" type="text" name="title-item" [(ngModel)]="item.title">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="price-item">Giá cả</label>
          <div class="col-md-3">
            <input class="form-control" id="price-item" type="text" name="price-item" [(ngModel)]="item.price">
          </div>
          <span class="col-form-label">VNĐ</span>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="content-item">Mô tả chi tiết</label>
          <div class="col-md-10">
            <textarea class="form-control" name="content-item" type="textarea" id="content-item"
                      [(ngModel)]="item.content" rows="10">
            </textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="content-item">Hình ảnh</label>
          <div class="col-md-10">
            <input id="file-multiple-input" type="file" name="file-multiple-input" multiple="">
          </div>
        </div>
        <hr/>
        <div class="text-center">
          <strong class="text-uppercase">Thông tin liên hệ</strong>
        </div>
        <br/>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="name-user">Tên</label>
          <div class="col-md-4">
            <input disabled class="form-control" id="name-user" name="name-user" placeholder="Nguyễn Văn An">
          </div>
          <div class="col-md-1"></div>
          <label class="col-md-2 col-form-label" for="phone-user">Số điện thoại</label>
          <div class="col-md-3">
            <input disabled class="form-control" id="phone-user" name="phone-user" placeholder="01234567890">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="itemdress-user">Địa chỉ</label>
          <div class="col-md-10">
            <input class="form-control" id="itemdress-user" name="itemdress-user" placeholder=""
                   value="Quận Thủ Đức, TPHCM">
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="button" (click)="handleAddNewItem(); detailModal.show()">Đăng</button>
      <button class="btn btn-sm btn-danger" style="margin-left: 5px" [routerLink]="['/']">Hủy</button>
    </div>
  </div>
</div>

<div bsModal id="item-detail-modal" #detailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="detailModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 550px; overflow-y: auto;">
        <app-item-detail></app-item-detail>
      </div>
    </div>
  </div>
</div>


<style>
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 18px;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
</style>
