<br/>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <strong class="text-uppercase">Đăng tin</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" method="post">
        <div class="text-center">
          <strong class="text-uppercase">Thông tin chung</strong>
        </div>
        <br/>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Danh mục<span class="text-danger">&nbsp;*</span></label>
          <app-cat-drop-down class="input-group-prepend col-md-4" (subCatClick)="getCatAndSubCatId($event)" dropdown></app-cat-drop-down>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Khu vực<span class="text-danger">&nbsp;*</span></label>
          <app-loc-drop-down class="input-group-prepend col-md-4" (provClick)="getLocationAndProvId($event)" dropdown></app-loc-drop-down>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="title-item">Tiêu đề<span class="text-danger">&nbsp;*</span></label>
          <div class="col-md-10">
            <input class="form-control" id="title-item" type="text" name="title-item" [(ngModel)]="item.title">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="price-item">Giá cả<span class="text-danger">&nbsp;*</span></label>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control col-9" id="price-item" type="text" name="price-item" (keyup)="keyupPrice()" [(ngModel)]="item.price">
              <input class="form-control col-3 text-center" style="min-width: 70px" type="text" disabled value="VNĐ">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="content-item">Mô tả chi tiết<span class="text-danger">&nbsp;*</span></label>
          <div class="col-md-10">
            <textarea class="form-control" name="content-item" type="textarea" id="content-item"
                      [(ngModel)]="item.content" rows="10">
            </textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="image-item">Hình ảnh</label>
          <div class="col-md-10">
            <input id="image-item" type="file" name="image-item" (change)="onUploadFile($event)">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2"></div>
          <div *ngIf="url" class="show-img">
            <img *ngIf="url" [src]="url" class="show-img">
          </div>
        </div>
        <div *ngIf="missingValue" class="col-md-12 text-danger row">Vui lòng điền đầy đủ thông tin!</div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="button" (click)="handleAddNewItem();">Đăng</button>
      <button class="btn btn-smreadUrl btn-danger" style="margin-left: 5px" (click)="cancel()">Hủy</button>
    </div>
  </div>
</div>

