<br/>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <strong class="text-uppercase">Đăng tin</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" action="" method="post">
        <div class="text-center">
          <strong class="text-uppercase">Thông tin chung</strong>
        </div>
        <br/>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="category-ad">Danh mục</label>
          <div class="col-md-10">
            <input class="form-control" id="category-ad" type="text" name="title-ad" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="title-ad">Tiêu đề</label>
          <div class="col-md-10">
            <input class="form-control" id="title-ad" type="text" name="title-ad" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="location-ad">Khu vực</label>
          <div class="col-md-3">
            <select class="form-control" id="location-ad" name="location-ad">
              <option value=""></option>
              <option value="">Hà Nội</option>
              <option value="">Đà Nẵng</option>
              <option value="">HCM</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="price-ad">Giá cả</label>
          <div class="col-md-3">
            <input class="form-control" id="price-ad" type="text" name="price-ad" placeholder="">
          </div>
          <span class="col-form-label">VNĐ</span>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="content-ad">Mô tả chi tiết</label>
          <div class="col-md-10">
            <textarea class="form-control" name="content-ad" type="textarea" id="content-ad" rows="10"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="content-ad">Hình ảnh</label>
          <div class="col-md-10">
            <input id="file-multiple-input" type="file" name="file-multiple-input" multiple="">
          </div>
        </div>
        <hr/>
        <div class="text-center">
          <strong class="text-uppercase">Thông tin liên hệ</strong>
        </div>
        <br/>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="name-user">Tên</label>
          <div class="col-md-4">
            <input disabled class="form-control" id="name-user" name="name-user" placeholder="Nguyễn Văn An">
          </div>
          <div class="col-md-1"></div>
          <label class="col-md-2 col-form-label" for="phone-user">Số điện thoại</label>
          <div class="col-md-3">
            <input disabled class="form-control" id="phone-user" name="phone-user" placeholder="01234567890">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="address-user">Địa chỉ</label>
          <div class="col-md-10">
            <input class="form-control" id="address-user" name="address-user" placeholder="" value="Địa chỉ mặc định">
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit">Đăng</button>
      <button class="btn btn-sm btn-danger" style="margin-left: 5px">Hủy</button>
    </div>
  </div>
</div>
