<div class="col-md-3 category-content">
  <ul class="list-category" *ngFor="let cat of cats">
    <li class="d-flex justify-content-between align-items-center">
      <a href="#">
        <img class="category-icon" src="../../assets/icons/general-category-icon.png" width="20"/>
        <span>{{cat['category']}}</span>
      </a>
      <span class="badge badge-primary badge-pill number-item">14</span>
    </li>
    <ul *ngFor="let sub of cat['name']">
      <li>
        <a href="#">{{sub}}</a>
        <span>(10)</span>
      </li>
    </ul>
  </ul>
</div>
