.category-content{
  background-color: white;
  padding-top: 15px;
}
.list-category{
  padding-left: 0;
}

.list-category ul li{
  margin-left: 20px;
}
.category-icon{
  margin: 5px;
}
.category-button{
  width: 100%;
}

.number-item{
  right: 0
}
