<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading">
        <h3 class="panel-title">Post Advertisement</h3>
      </div>
      <label>Title</label>      
      <input class="form-control" name="title" [(ngModel)]="ad.title" type="text"/>
      <label>Location</label>
      <select class="form-control" name="area" [(ngModel)]="ad.area">
        <option>Hà Nội</option>
        <option>Da Nang</option>
        <option>Hồ Chí Minh</option>
      </select>
      <label>Category</label>
      <select class="form-control" name="category" [(ngModel)]="ad.category">
        <option>Fashion</option>
        <option>Pets</option>
        <option>Home</option>
      </select>
      <label>Price</label>
      <input class="form-control" name="price" [(ngModel)]="ad.price" type="text"/>
      <label>Content</label>
      <textarea class="form-control" name="content" type="textarea" [(ngModel)]="ad.content"></textarea>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="addAd()">Post</button>
    </div>
  </div>
</div>
