<div class="content">
  <div class="row search-block">
    <div class="col-md-3 category-content">
      <ul class="list-category" *ngFor="let cat of cats">
        <li class="d-flex justify-content-between align-items-center">
          <a href="#">
            <img class="category-icon" src="../../assets/icons/general-category-icon.png" width="20"/>
            <span>{{cat['category']}}</span>
          </a>
          <span class="badge badge-primary badge-pill number-item">14</span>
        </li>
        <ul *ngFor="let sub of cat['name']">
          <li>
            <a href="#">{{sub}}</a>
            <span>(10)</span>
          </li>
        </ul>
      </ul>
    </div>
    <div class="list-item col">
      <div class="row">
        <div class="col-md-9">
          <div>
            Đồ điện tử > Laptop
          </div>
          <div>
            1234 kết quả cho từ khóa "laptop"
          </div>
        </div>
        <div class="col filter">
          <select>
            <option value="new">Tin mới trước</option>
            <option value="old">Tin cũ trước</option>
            <option value="cheap">Giá thấp trước</option>
            <option value="expensive">Giá cao trước</option>
          </select>
        </div>
      </div>
      <div class="items">
        <div class="row">
          <div class="col">
            <button class="item-button">
              <img src="../../assets/images/default-item.jpg"/>
              <div class="title-item">Cần bán gấp điện thoại Samsung 2 sim 2 sóng</div>
              <div class="price-item">
                <img class="item-icon" src="../../assets/icons/price-item-icon.png"/> 2.000.000
              </div>
              <!-- <div class="location-item">
                  <img class="item-icon" src="../../assets/icons/location-item-icon.png"/> Hồ Chí Minh
              </div> -->
            </button>
          </div>
          <div class="col">
            <button class="item-button">
              <img src="../../assets/images/default-item.jpg"/>
              <div class="title-item">Cần bán gấp điện thoại Samsung 2 sim 2 sóng</div>
              <div class="price-item">
                <img class="item-icon" src="../../assets/icons/price-item-icon.png"/> 2.000.000
              </div>
            </button>
          </div>
          <div class="col">
            <button class="item-button">
              <img src="../../assets/images/default-item.jpg"/>
              <div class="title-item">Cần bán gấp điện thoại Samsung 2 sim 2 sóng</div>
              <div class="price-item">
                <img class="item-icon" src="../../assets/icons/price-item-icon.png"/> 2.000.000
              </div>
            </button>
          </div>
          <div class="col">
            <button class="item-button">
              <img src="../../assets/images/default-item.jpg"/>
              <div class="title-item">Cần bán gấp điện thoại Samsung 2 sim 2 sóng</div>
              <div class="price-item">
                <img class="item-icon" src="../../assets/icons/price-item-icon.png"/> 2.000.000
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-block">
    <new-ads></new-ads>
  </div>
</div>
