<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address</h3>
        <p style="margin-top:6%;line-height:35%">120 Dien Bien Phu Street, Binh Thanh District, Ho Chi Minh City</p>
        <br />
        <br />
        <h3 style="line-height:20%;"><i class="fa fa-phone fa-1x" style="line-height:6%;color:#339966"></i> Phone Number</h3>
        <p style="margin-top:6%;line-height:35%">(+84)282 333 777</p>
        <br />
        <br />
        <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail Address</h3>
        <p style="margin-top:6%;line-height:35%">abc@gmail.com</p>
        <br />
        <br />
        <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Representative</h3>
        <p style="margin-top:6%;line-height:35%">Mr. David Nguyen</p>
        <br />
        <br />
        <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Website</h3>
        <p style="margin-top:6%;line-height:35%"><a href="/">abc.com</a></p>
      </div>
    </div>
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96690.80542089987!2d29.864461132544537!3d40.77109282810726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f66644bfb9d%3A0x82690ee7586b7eb9!2zxLB6bWl0LCBLb2NhZWxp!5e0!3m2!1str!2str!4v1480782606579" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
