<div class="panel panel-default col-md-4">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <span class="glyphicon glyphicon-file">
                </span>Đồ điện tử</a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
            <div class="list-group">
                <a href="#" class="list-group-item">Điện thoại</a>
                <a href="#" class="list-group-item">Máy tính bàn</a>
            </div>
       
    </div>
</div>
