<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-clip-rotate-pulse">
</ngx-spinner>
<br/>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <strong class="text-uppercase">Thông tin cá nhân</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" method="post">
        <div class="row">
          <div class="col-lg-3">
            <img src="../../../assets/img/avatar.jpg" width='80%'/>
          </div>
          <div class="col-lg-9">
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Email</label>
              <div class="col-md-6">
                <input disabled class="form-control" name="user-email" [(ngModel)]="user.email"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Họ tên<span class="text-danger">&nbsp;*</span></label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="user-name" [(ngModel)]="user.fullname"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Số điện thoại<span class="text-danger">&nbsp;*</span></label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="user-phone" [(ngModel)]="user.phone"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Địa chỉ</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="user-address" [(ngModel)]="user.address"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="button" (click)="updateUser(); updateUserModal.show()">Lưu</button>
      <button class="btn btn-sm readUrl btn-danger" style="margin-left: 5px" (click)="cancel()">Hủy</button>
    </div>
  </div>
</div>

<div bsModal id="update-user-modal" #updateUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" (click)="updateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-4">Cập nhật thông tin thành công!</div>
        <div class="input-group mb-4">
          <div class="ml-auto">
            <button class="btn btn-success" (click)="updateUserModal.hide();">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
