<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-clip-rotate-pulse">
</ngx-spinner>
<!--<ol class="breadcrumb">-->
  <!--<div class="ml-auto">-->
    <!--<span>Lọc&nbsp;</span>-->
    <!--<select (change)="onFilterChange($event)">-->
      <!--<option value="newest">Tin mới trước</option>-->
      <!--<option value="oldest">Tin cũ trước</option>-->
      <!--<option value="highest">Giá cao trước</option>-->
      <!--<option value="lowest">Giá thấp trước</option>-->
    <!--</select>-->
  <!--</div>-->
<!--</ol>-->
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <span *ngIf="keyword.length > 0">
                <strong>{{total}}</strong>&nbsp;kết quả cho từ khóa&nbsp;
                <strong>{{keyword}}</strong>
              </span>
              <span *ngIf="keyword.length == 0">
                <strong>{{total}}</strong>&nbsp;kết quả
              </span>
            </div>
            <div class="col text-right">
              <span>Sắp xếp&nbsp;</span>
              <select class="sort">
                <option value="newest">Tin mới trước</option>
                <option value="oldest">Tin cũ trước</option>
                <option value="highest">Giá cao trước</option>
                <option value="lowest">Giá thấp trước</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="new-items" class="row view-group">
            <div class="item col-xs-12 col-md-6 col-lg-3" *ngFor="let item of items | paginate: { itemsPerPage: 8, currentPage: p }">
              <app-item [item]="item"></app-item>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event" class="pagination justify-content-center" previousLabel="Trang trước" nextLabel="Trang sau"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
