<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">{{cat_name}}</a>
  </li>
  <div class="ml-auto">
    <span>Lọc&nbsp;</span>
    <select>
      <option value="new-time">Tin mới trước</option>
      <option value="old-time">Tin cũ trước</option>
      <option value="low-price">Giá cao trước</option>
      <option value="high-price">Giá thấp trước</option>
    </select>
  </div>
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <span>
            <strong>{{total}}</strong>&nbsp;kết quả cho từ khóa&nbsp;
            <strong>{{keyword}}</strong>
          </span>
        </div>
        <div class="card-body">
          <div id="new-items" class="row view-group">
            <div class="item col-xs-12 col-md-6 col-lg-3">
              <div class="thumbnail card">
                <div class="img-event">
                  <img class="group list-group-image img-fluid" src="http://placehold.it/250x250/000/fff" width='100%' alt="" />
                </div>
                <div class="caption card-body">
                  <h5 class="group card-title inner list-group-item-heading" style="-webkit-line-clamp: 2 !important; overflow : hidden !important; text-overflow: ellipsis !important; display: -webkit-box !important; -webkit-box-orient: vertical !important; min-height: 2.4rem">Bán gấp điện thoại 2 sim 2 sóng giá rẻ bất ngờ</h5>
                  <!--<div class="row">-->
                  <!--<div class="col-xs-12 col-md-6">-->
                  <p class="lead text-danger">$200000</p>
                  <!--</div>-->
                  <!--<div class="col-xs-12 col-md-6">-->
                  <!--<a class="btn btn-success" href="#"><i class="fa fa-heart-o"></i> Lưu tin</a>-->
                  <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
            <div class="item col-xs-12 col-md-6 col-lg-3">
              <div class="thumbnail card">
                <div class="img-event">
                  <img class="group list-group-image img-fluid" src="http://placehold.it/250x250/000/fff" width='100%' alt="" />
                </div>
                <div class="caption card-body">
                  <h5 class="group card-title inner list-group-item-heading" style="-webkit-line-clamp: 2 !important; overflow : hidden !important; text-overflow: ellipsis !important; display: -webkit-box !important; -webkit-box-orient: vertical !important; min-height: 2.4rem">Bán gấp điện thoại</h5>
                  <!--<div class="row">-->
                  <!--<div class="col-xs-12 col-md-6">-->
                  <p class="lead text-danger">$200000</p>
                  <!--</div>-->
                  <!--<div class="col-xs-12 col-md-6">-->
                  <!--<a class="btn btn-success" href="#"><i class="fa fa-heart-o"></i> Lưu tin</a>-->
                  <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
