<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/">
    <img src="https://image.flaticon.com/icons/png/512/295/295144.png" alt="Logo" width="40"/>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">SbThings
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item col-md-1"></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Danh mục
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-3" *ngFor="let cat of cats">
                <span class="text-uppercase head-category">{{cat['category']}}</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link sub-category all" href="#" (click)="clickedCategory($event)">Tất cả</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Khu vực
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-4" *ngFor="let location of locations">
                <span class="text-uppercase head-location">{{location['area']}}</span>
                <ul class="nav flex-column" *ngFor="let province of location['province']">
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#" (click)="clickedLocation($event)">{{province}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <input type="text" class="form-control col-md-6" [(ngModel)]="keyword" name="keyword"
           placeholder="Nội dung cần tìm..." list="recommend-keyword">
    <datalist id="recommend-keyword">
      <option value="Gợi ý 1">
      <option value="Gợi ý 2">
    </datalist>
    <button class="btn btn-warning" type="button" routerLink="/search"
            [queryParams]="{location: location, cat: cat, keyword: keyword}">
      <img src="https://qph.fs.quoracdn.net/main-qimg-1b422a1ceee9b131152d63b24c584dad" width="20"/>
    </button>
    <button class="btn btn-danger" type="button" routerLink="/new-ad">
      <span class="glyphicon glyphicon-search">Đăng tin ngay</span>
    </button>
  </div>
  <ul class="navbar-nav col-md-3 nav-right">
    <li class="nav-item">
      <button class="login-button" routerLink="/sign-in">
        <img src="../../assets/icons/login-icon.png" width="20"/>
        <br/>
        <span>Đăng nhập</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="register-button" routerLink="/sign-up">
        <img src="../../assets/icons/register-icon.png" width="20"/>
        <br/>
        <span>Đăng ký</span>
      </button>
      <br/>
    </li>
  </ul>
</nav>

