<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/">
    <img src="https://image.flaticon.com/icons/png/512/295/295144.png" alt="Logo" width="40" />
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">SbThings
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item col-md-1"></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Tất cả
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <span class="text-uppercase head-category">Đồ điện tử</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <div class="row">
                      <img class="check-icon" src="../../assets/icons/check-icon.png" />
                      <a class="nav-link sub-category all" href="#">Tất cả</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Điện thoại</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Máy tính bảng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Laptop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Máy tính để bàn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Máy ảnh, máy quay</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Tivi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Loa</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Amply</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Linh kiện, phụ kiện</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Khác</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <span class="text-uppercase head-category">Đồ gia dụng</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Tất cả</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Điện lạnh</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Thiết bị nhà bếp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Đồ dùng và gia đình</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Vật dụng cá nhân</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-category" href="#">Khác</a>
                  </li>
                </ul>
              </div>

              <!-- <div class="col-md-4">
                                <a href="">
                                    <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                                </a>
                                <p class="text-white">Short image call to action</p>

                            </div> -->
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Khu vực
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase head-location">Miền Bắc</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#">Hà Nội</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#">Quảng Ninh</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="text-uppercase  head-location">Miền Trung</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#">Thừa Thiên - Huế</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#">Đà Nẵng</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="text-uppercase head-location">Miền Nam</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#">Thành phố Hồ Chí Minh</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sub-location" href="#">Cần Thơ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <input type="text" class="form-control col-md-6" [(ngModel)]="keyword" name="keyword" placeholder="Nội dung cần tìm...">
    <button class="btn btn-warning" type="button" (click)="searchDocument()">
      <img src="https://qph.fs.quoracdn.net/main-qimg-1b422a1ceee9b131152d63b24c584dad" width="20" />
      <!-- <span class="glyphicon glyphicon-search">Tìm</span> -->
    </button>
    <button class="btn btn-danger" type="button" routerLink="/new-ad">
      <span class="glyphicon glyphicon-search">Đăng tin ngay</span>
    </button>
  </div>
  <ul class="navbar-nav col-md-3 nav-right">
    <li class="nav-item">
      <button class="login-button" routerLink="/sign-in">
        <img src="../../assets/icons/login-icon.png" width="20" />
        <br/>
        <span>Đăng nhập</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="register-button" routerLink="/sign-up">
        <img src="../../assets/icons/register-icon.png" width="20" />
        <br/>
        <span>Đăng ký</span>
      </button>
      <br/>
    </li>
    <!-- <li class="nav-item">
              <button routerLink="/sign-in" class="btn btn-info">Đăng nhập</button>
            </li>
            <li class="nav-item">
              <button routerLink="/sign-up" class="btn btn-outline-info">Đăng ký</button>
            </li> -->

    <!-- Language -->
    <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Tiếng Việt</a>
              </div>
            </li> -->
  </ul>
</nav>

<script>
  $(document).ready(function () {
    // executes when HTML-Document is loaded and DOM is ready

    // breakpoint and up  
    $(window).resize(function () {
      if ($(window).width() >= 980) {

        // when you hover a toggle show its dropdown menu
        $(".navbar .dropdown-toggle").hover(function () {
          $(this).parent().toggleClass("show");
          $(this).parent().find(".dropdown-menu").toggleClass("show");
        });

        // hide the menu when the mouse leaves the dropdown
        $(".navbar .dropdown-menu").mouseleave(function () {
          $(this).removeClass("show");
        });

        // do something here
      }
    });



    // document ready  
  });
</script>