// Here you can add other styles
.crop-text-2 {
  -webkit-line-clamp: 2 !important;
  overflow : hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.nav-dropdown-items .nav-item .nav-link{
  text-indent: -30px;
  padding-left: 45px;
}
