<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <strong class="text-uppercase">Tin mới nhất</strong>
      </div>
      <div class="card-body">
        <div id="new-items" class="row view-group">
          <div class="item col-xs-12 col-md-6 col-lg-3" *ngFor="let item of items">
            <div class="thumbnail card">
              <div class="img-event">
                <img class="group list-group-image img-fluid" src="http://placehold.it/250x250/000/fff" width='100%' alt="" />
              </div>
              <div class="caption card-body">
                <h4 class="group card-title inner list-group-item-heading">
                  {{item.title}}</h4>
                <p class="group inner list-group-item-text crop-text-2" style="-webkit-line-clamp: 2 !important; overflow : hidden !important; text-overflow: ellipsis !important; display: -webkit-box !important; -webkit-box-orient: vertical !important;">
                  {{item.content}}</p>
                <!--<div class="row">-->
                <!--<div class="col-xs-12 col-md-6">-->
                <p class="lead text-danger">{{item.price}}</p>
                <!--</div>-->
                <!--<div class="col-xs-12 col-md-6">-->
                <!--<a class="btn btn-success" href="#"><i class="fa fa-heart-o"></i> Lưu tin</a>-->
                <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>