<app-header [fixed]="true"
            [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
            [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
            [sidebarToggler]="'lg'"
            [asideMenuToggler]="'lg'">
  <div class="row d-md-down-none col-md-8 align-items-center justify-content-center">
    <div class="form-group row col-md-10" style="padding-top: 17px">
      <div class="input-group col" style="padding-right: 5px">
        <app-cat-drop-down (subCatClick)="getSubCatId($event)" class="input-group-prepend" dropdown></app-cat-drop-down>
        <app-loc-drop-down (provClick)="getProvId($event)" class="input-group-prepend" dropdown></app-loc-drop-down>
        <input class="form-control" type="text" name="input1-group3" placeholder="Nội dung cần tìm..."
               [(ngModel)]="keyword">
        <span class="input-group-append">
          <button class="btn btn-info" type="button" [routerLink]="['/search-ad']"
                  [queryParams]="{prov_id: prov_id, sub_cat_id: sub_cat_id, keyword: keyword}">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-2" style="padding-left: 0px">
      <button class="btn btn-block btn-danger" [routerLink]="['/post-ad']">Đăng tin ngay</button>
    </div>
  </div>
  <div class="ml-auto">
    <a href="#" (click)="logInModal.show()">Đăng nhập</a>
    <span>&nbsp;hoặc&nbsp;</span>
    <a href="#" (click)="registerModal.show()">Đăng ký</a>
  </div>
  <ul hidden class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle
         (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center bg-dark">
          <strong>Quảng cáo</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-bell-o"></i> Quảng cáo đã xem</a>
        <a class="dropdown-item" [routerLink]="['/manage-ad']">
          <i class="fa fa-envelope-o"></i> Quảng cáo đã đăng</a>
        <div class="dropdown-header text-center bg-dark">
          <strong>Tài khoản</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i> Cập nhật thông tin</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-file"></i> Đổi mật khẩu</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-lock"></i> Đăng xuất</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-side-bar></app-side-bar>
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer>
  <span>
    <a href="https://coreui.io">SBthings</a> &copy; 2018</span>
</app-footer>

<div bsModal id="log-in" #logInModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đăng nhập</h4>
        <button type="button" class="close" (click)="logInModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-user"></i>
            </span>
          </div>
          <input class="form-control" type="text" placeholder="Email...">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-lock"></i>
            </span>
          </div>
          <input class="form-control" type="password" placeholder="Mật khẩu...">
        </div>
        <div class="input-group mb-4">
          <span>Bạn chưa có tài khoản?&nbsp;</span>
          <a href="#" (click)="logInModal.hide(); registerModal.show();">Đăng ký ngay</a>
          <div class="ml-auto">
            <button class="btn btn-secondary mr-1 ml-auto" type="button" data-dismiss="modal" (click)="logInModal.hide()">Hủy</button>
            <button class="btn btn-primary ml-auto">Đăng nhập</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal id="register" #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đăng ký tài khoản</h4>
        <button type="button" class="close" (click)="registerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-user"></i>
            </span>
          </div>
          <input class="form-control" type="text" placeholder="Tên hiển thị...">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input class="form-control" type="text" placeholder="Email...">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-lock"></i>
            </span>
          </div>
          <input class="form-control" type="password" placeholder="Mật khẩu...">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-lock"></i>
            </span>
          </div>
          <input class="form-control" type="password" placeholder="Nhập lại mật khẩu...">
        </div>
        <div class="input-group mb-4">
          <span>Bạn đã có tài khoản?&nbsp;</span>
          <a href="#" (click)="registerModal.hide(); logInModal.show();">Đăng nhập ngay</a>
          <div class="ml-auto">
            <button class="btn btn-secondary mr-1" type="button" data-dismiss="modal" (click)="registerModal.hide()">Hủy</button>
            <button class="btn btn-primary">Đăng ký</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
