<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}" [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <div class="row d-md-down-none col-md-8 align-items-center justify-content-center">
    <div class="form-group row col-md-10" style="padding-top: 17px">
      <div class="input-group col">
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-outline-info dropdown-toggle" dropdownToggle>{{cat}}
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" href="#" *ngFor="let cat of cats" id="{{cat['cat_id']}}" (click)="clickCat($event)">{{cat['cat_name']}}</a>
          </div>
        </div>
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-outline-info dropdown-toggle" dropdownToggle>{{loc}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" *dropdownMenu>
            <li class="dropdown-submenu" *ngFor="let location of locations">
              <a class="dropdown-item dropdown-toggle level-1" (mouseenter)="mouseenterLevel1($event)">{{location['area']}}</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item level-2" *ngFor="let loc of location['province']" id="{{loc['province_id']}}"(click)="clickProvince($event)"
                    (mouseenter)="mouseenterLevel2($event)">{{loc['name']}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <input class="form-control" type="text" name="input1-group3" placeholder="Nội dung cần tìm..." [(ngModel)]="keyword">
        <span class="input-group-append">
          <button class="btn btn-info" type="button" [routerLink]="['/search']" [queryParams]="{location: loc_id, cat: cat_id, keyword: keyword}">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-2" style="padding-left: 0px">
      <button class="btn btn-block btn-danger" [routerLink]="['/post-ad']">Đăng tin ngay</button>
    </div>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle
        (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center bg-dark">
          <strong>Quảng cáo</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-bell-o"></i> Quảng cáo đã xem</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-envelope-o"></i> Quảng cáo đã đăng</a>
        <div class="dropdown-header text-center bg-dark">
          <strong>Tài khoản</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i> Cập nhật thông tin</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-file"></i> Đổi mật khẩu</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-lock"></i> Đăng xuất</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer>
  <span>
    <a href="https://coreui.io">SBthings</a> &copy; 2018</span>
</app-footer>

<style>
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 18px;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
</style>

<!--<script>-->
<!--$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {-->
<!--if (!$(this).next().hasClass('show')) {-->
<!--$(this).parents('.dropdown-menu').first().find('.show').removeClass("show");-->
<!--}-->
<!--var $subMenu = $(this).next(".dropdown-menu");-->
<!--$subMenu.toggleClass('show');-->


<!--$(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {-->
<!--$('.dropdown-submenu .show').removeClass("show");-->
<!--});-->


<!--return false;-->
<!--});-->
<!--</script>-->
