<div class="jumbotron">
  <div class="container">
    <div class="col-md-12 col-md-offset-8">
      <div class="input-group">
        <select class="form-control col-md-2" id="area" [(ngModel)]="area">z
          <option>Hà Nội</option>
          <option>Da Nang</option>
          <option>Hồ Chí Minh</option>
          <option value="all">All areas</option>
        </select>
        <select class="form-control col-md-2" id="category" [(ngModel)]="cat">
          <option>Fashion</option>
          <option>Pets</option>
          <option>Home</option>
          <option value="all">All categories</option>
        </select>
        <input type="text" class="form-control" [(ngModel)]="keyword" name="keyword" placeholder="Search term...">
        <span class="input-group-btn">
          <button class="btn btn-warning" type="button" (click)="searchDocument()">
            <span class="glyphicon glyphicon-search">Search</span>
          </button>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" routerLink="/new-ad">
            <span class="glyphicon glyphicon-search">Post Now</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Search results -->
<div *ngFor="let item of items">
  <div class="ad-item">
    <h3 class="ad-title">{{item.title}}</h3>
    <h6>{{item.area}} - {{item.price}}đ</h6>
    <p class="ad-content">{{item.content}}</p>
    <a class="more" routerLink="/detail/{{item.couchdb_id}}" (click)="saveUserBehavior(item.couchdb_id)">Read more</a>
    <br/>
    <hr>
    <!--<a routerLink="/detail/{{item.id}}" innerHTML="{{item.title}}" (click)="saveUserBehavior(item.id)" id="title"></a>-->
    <!-- <p innerHTML="{{item.title}}" id="title"></p> -->
  </div>

</div>
